// .pagination_list {
//     width: 200px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 16px;
//     cursor: pointer;
// }
// .pagination_link {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 150%;
//     color: var(--secondary-color);
// }
// .break_link {
//     color: var(--secondary-color);
// }
// // .next_item,
// // .previous_item,
// // .break_item,
// // .list_item {
// //     cursor: pointer;
// // }
// .active_item {
//     background-color: var(--primary-color);
//     padding: 2px 6px;
//     border-radius: 3px;
// }
// .active_link {
//     color: var(--white-color);
// }
// // .next_link {
// //     color: yellow;
// // }

// // .break_item {
// //     font-size: 30px;
// // }

.items_qty {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--secondary-color);
    margin-right: 16px;
}
