.header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 41px;
    height: 72px;
    background-color: var(--primary-color);
}

@media (max-width: 550px) {
    .header {
        padding: 0px 20px;
    }
}