@import url("./reset.scss");

:root {
    --bg-primary: #e5e5e5;
    --bg-secondary: #ffffff;
    --primary-color: #0064eb;
    --secondary-color: #808080;
    --text-color: #000000;
}

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
}
