.search_wrap {
    width: 500px;
    height: 40px;
}
.search_form {
    position: relative;
    height: 100%;
}

.search_button {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    background-color: transparent;
}

.search_input {
    width: 100%;
    height: 100%;
    padding: 8px 14px 8px 44px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;

    &::placeholder {
        color: var(--secondary-color);
    }
}
